/* Your custom CSS here */
#map
{
    height: 600px;
    width: auto;
    max-width: 100%;
    display: block;
}

.map-container{
    max-width: 60em;
    padding: 0.2em;
}

#page-content {
    display: none;
}

#loading {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(192, 192, 192, 0.5);
    background-image: url("https://i.stack.imgur.com/MnyxU.gif");
    background-repeat: no-repeat;
    background-position: center;
}

h4 {
    color: saddlebrown;
}

map-county1 {
    height: 600px;
    width: auto;
    max-width: 100%;
    display: block;

}